<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/carInfo.css' />
	<title>Інформація про авто</title>
</head>

<body>

	<div class="wrapper">
		<%-include('../sections/header.ejs')%>
			<main class="page">
				<section class="page__car-info car-info">
					<div class="car-info__container">
						<div class="car-info__body">
							<div class="car-info__image">
								<img src="<%= car.imgSrc %>" alt="CarImage">
							</div>
							<h1><span>Марка авто:</span>
								<%= car.carBrand %>
							</h1>
							<div><span>Рік випуску:</span>
								<%= car.carYear %>
							</div>
							<div><span>Держ. номер:</span>
								<%= car.carNum %>
							</div>
							<div>
								<span>Власник:</span>
								<%= car.owner?.ownerName || car.owner %>
							</div>
							<div>
								<span>Місто:</span>
								<%= car.owner?.ownerCity || car.owner %>
							</div>
						</div>
						<a class="button" href="../cars/carsList">До каталогу автомобілів</a>
					</div>
				</section>
			</main>
			<%-include('../sections/footer.ejs')%>
	</div>
</body>

</html>